body{
	background-size: cover;
	background-position: center;
}
.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
background-color:#292053;
color: white;
font-variant: small-caps;
}

#status
{
font-size: 20px;
}

canvas{
	box-shadow: 10px 10px 10px darkblue;
	border-radius: 25px;
	margin-top: 20px;
}

#number_of_objects{
	font-size: 20px;
	background-color:darkviolet;
}

#start_model{
background-color: darkblue;
color: white;
}